# To make sure the proxy server is safe and can only used by authenticated clients, we enforce you to 
# add a secret token so that you can have a control of your own server and help to enhance security

PROXY_TOKEN=
CONFIG_PATH= config/local.yaml